In [1]:
#import library
import numpy as np
import pandas as pd
import pandas_profiling
from pandas_profiling import ProfileReport

In [2]:
#import dan menampilkan isi data.csv
df = pd.read_csv("csv/data.csv")
df

,NIM,ANGKATAN,KODE_MK,MATAKULIAH,SEMESTER,KEHADIRAN,COMPONENTNAME,POINT,TOTALPOINT,INDEXPOINT,PLONAME,PLONUMBER,COURSEID
0,sfff91bad0515fc6,1617,CSH2B3,TEORI BAHASA & AUTOMATA,1718-1,92.86,CLO 1,94.17,91.04,A,NaN,NaN,1141122.0
1,sfff91bad0515fc6,1617,CSH3B3,INTERAKSI MANUSIA DAN KOMPUTER A,1819-1,100.00,CLO3,70.11,72.23,AB,[PLO-8] Kemampuan mendesain sistem dan/atau pr...,8.0,1152752.0
2,sfff91bad0515fc6,1617,CSH3K2,TATA TULIS ILMIAH DAN TEKNIK PRESENTASI,1819-2,100.00,CLO2 (MENULIS MAKALAH SINGKAT BIDANG IF),79.00,83.90,A,NaN,NaN,1154782.0
3,sfff91bad0515fc6,1617,CSH3E3,IMPLEMENTASI DAN PENGUJIAN PERANGKAT LUNAK,1819-1,91.67,CLO3,83.25,85.13,A,"[PLO-11] Kemampuan menerapkan metode, ketrampi...",11.0,1152857.0
4,sfff91bad0515fc6,1617,CSH2G3,DESAIN DAN ANALISIS ALGORITMA,1718-2,100.00,CLO 3,48.60,48.52,D,NaN,NaN,1145246.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
364359,s002c46f7e4bd259,1617,DUH1A2,LITERASI TIK,1617-1,NaN,TUGAS,82.00,80.60,A,NaN,NaN,1124324.0
364360,s002c46f7e4bd259,1617,MUH1E3,KALKULUS IIB,1617-2,NaN,UAS,0.00,16.25,E,NaN,NaN,1131506.0
364361,s002c46f7e4bd259,1617,FUH1G3,FISIKA DASAR,1617-2,NaN,UJIAN 2 UTS,31.00,51.50,BC,NaN,NaN,1131488.0
364362,s002c46f7e4bd259,1617,CCH1A4,DASAR ALGORITMA DAN PEMROGRAMAN,1617-1,NaN,CLO 4,15.71,22.73,E,NaN,NaN,1124241.0
364363,s002c46f7e4bd259,1617,HUH1A2,PENDIDIKAN AGAMA ISLAM DAN ETIKA,1617-1,NaN,MENTORING,90.00,87.00,A,NaN,NaN,1124389.0

In [3]:
#eksplorasi Data Menggunakan Pandas Profiling Report
pandas_report = df.profile_report(sort='None', html={'style':{'full_width': True}})
pandas_report

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   â€¦

In [4]:
#melakukan drop pada beberapa kolom yang tidak digunakan
df = df.drop(['SEMESTER','KEHADIRAN','COMPONENTNAME','POINT','TOTALPOINT','PLONAME','PLONUMBER','COURSEID'], axis = 1)

In [5]:
#menampilkan info apakah terdapat data null pada dataset
df.isna().sum()

NIM              0
ANGKATAN         0
KODE_MK          0
MATAKULIAH       0
INDEXPOINT    2763
dtype: int64

In [6]:
#melakukan drop pada data yg memiliki null
df.dropna(inplace=True)

In [7]:
#menghitung banyaknya data yang duplicate
df.duplicated().sum()

256279

In [8]:
#menyimpan data pertama dan melakukan drop pada sisa data yang sama (duplicate)
df = df.drop_duplicates(subset=None, keep='first')

In [9]:
#mereset indeks pada tabel & menyimpan data yang sudah bersih ke dalam data_clean.csv
df = df.reset_index(drop=True)
df.to_csv('csv/data_clean.csv', index = False)
df

,NIM,ANGKATAN,KODE_MK,MATAKULIAH,INDEXPOINT
0,sfff91bad0515fc6,1617,CSH2B3,TEORI BAHASA & AUTOMATA,A
1,sfff91bad0515fc6,1617,CSH3B3,INTERAKSI MANUSIA DAN KOMPUTER A,AB
2,sfff91bad0515fc6,1617,CSH3K2,TATA TULIS ILMIAH DAN TEKNIK PRESENTASI,A
3,sfff91bad0515fc6,1617,CSH3E3,IMPLEMENTASI DAN PENGUJIAN PERANGKAT LUNAK,A
4,sfff91bad0515fc6,1617,CSH2G3,DESAIN DAN ANALISIS ALGORITMA,D
...,...,...,...,...,...
105317,s002c46f7e4bd259,1617,MUH1F3,PROBABILITAS DAN STATISTIKA A,E
105318,s002c46f7e4bd259,1617,DUH1A2,LITERASI TIK,A
105319,s002c46f7e4bd259,1617,MUH1G3,MATRIKS DAN RUANG VEKTOR,D
105320,s002c46f7e4bd259,1617,KUH2A2,PENGETAHUAN LINGKUNGAN,A
105321,s002c46f7e4bd259,1617,CSH2C3,PEMODELAN BASIS DATA,E

In [10]:
#menampilkan Data Menggunakan Pandas Profiling Report
pandas_report = df.profile_report(sort='None', html={'style':{'full_width': True}})
pandas_report

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   â€¦

In [11]:
#membagi dan menyimpan data nilai mahasiswa berdasarkan angkatannya
df_1617 = df[df['ANGKATAN'] == 1617]
df_1617.to_csv('csv/data_1617.csv', index = False)

df_1718 = df[df['ANGKATAN'] == 1718]
df_1718.to_csv('csv/data_1718.csv', index = False)

df_1819 = df[df['ANGKATAN'] == 1819]
df_1819.to_csv('csv/data_1819.csv', index = False)